<p>detail-component works!</p>
<a routerLink="/home"
   routerLinkActive="active">Home</a>
<form [formGroup]="formGroup">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label>ID</label>
                    <input pInputText
                           class="p-form-control"
                           formControlName="id"
                           pInput />
                </div>
            </div>
            <div class="col-6">
                <label>Name</label>
                <div class="form-group">
                    <input pInputText
                           class="p-form-control"
                           formControlName="name" />
                </div>
            </div>
            <div>
                <span class="ui-float-label">
                    <textarea rows="5"
                             cols="30"
                             pInputTextarea></textarea>
                        <label>Summary</label>
                </span>
            </div>
        </div>
    </div>

</form>