<h1>Bobby Rocks</h1>
<a routerLink="/detail"
   routerLinkActive="active">Detail</a>
<p-table #dt
         [value]="users"
         [paginator]="true"
         stateStorage="session"
         stateKey="bobbyrocks"
         [globalFilterFields]="['id', 'name']"
         [rows]="10"
         selectionMode="single"
         [(selection)]="selectedUser"
         dataKey="id"
         (onRowSelect)="onRowSelect($event)">
    <ng-template pTemplate="caption">
        <div style="text-align: right">
            <i class="fa fa-search"
               style="margin:4px 4px 0 0"></i>
            <input type="text"
                   pInputText
                   size="50"
                   placeholder="Global Filter"
                   (input)="dt.filterGlobal($event.target.value, 'contains')"
                   style="width:auto"
                   id="test_blah"
                   [value]="dt.filters['global']?.value">
        </div>
    </ng-template>
    <ng-template pTemplate="header"
                 let-user>
        <tr>
            <th>
                <input pInputText
                       type="text"
                       (input)="console.log(dt.filters);dt.filter($event.target.value, 'id', 'contains')"
                       [value]="dt.filters['id']?.value">
            </th>
            <th>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body"
                 let-user>
        <tr [pSelectableRow]="user">
            <td>
                {{ user.id }}
            </td>
            <td>
                {{ user.name }}
            </td>
        </tr>
    </ng-template>
</p-table>